### IDE ve Sistem Dosyaları ###
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.class
.DS_Store
Thumbs.db
/target/
/dist/
/build/

### Backend (Spring Boot) ###
# Maven'in oluşturduğu dosyalar
/task-tracker-backend/target/

# Hassas yapılandırma dosyaları
/task-tracker-backend/src/main/resources/application.properties

### Frontend (React) ###
# Node.js bağımlılıkları ve build klasörü
/task-tracker-frontend/node_modules/
/task-tracker-frontend/build/